:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
@media (max-width: 500px) {
  img {
    display: none;
  }
}
h1 {
  font-size: 30px;
  margin-top: 50px;
}
h2 {
  font-size: 60px;
}
h3 {
  font-size: 18px;
  color: grey;
}

img {
  max-width: 80%;
  max-height: 80%;
}
a {
  text-decoration: none;
}
.links {
  display: flex;
  justify-content: center;
  border-radius: 4px;
  text-align: center;
}

.about {
  background-color: var(--primary-color);
  color: white;
  padding: 15px 20px 15px 20px;
  margin: 20px 20px 20px 20px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  text-decoration: none;
  box-shadow: var(--box-shadow);
}
.contact {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  padding: 15px 20px 15px 20px;
  margin: 20px 20px 20px 20px;
  border-radius: 4px;
  text-decoration: none;
}
.container {
  margin: 30px 20px;
}

.image {
  background-color: var(--secondary-color);
}
.title {
  font-size: 30px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  width: 100%;
  border: 1px solid var(--primary-color);
}
.title:hover,
.about:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.projectdescription {
  font-size: 13px;
  margin-bottom: 20px;
  padding: 30px;
}
.homepage {
  color: var(--primary-color);
  text-decoration: none;
  text-align: center;
}
.paragraph1 {
  margin: 10px;
  padding: 20px;
  background-color: var(--secondary-color);
  border-radius: 4px;
  font-size: 20px;
}
.paragraph2 {
  margin: 10px;
  padding: 20px;
  background-color: var(--secondary-color);
  border-radius: 4px;
  font-size: 20px;
}
